a.out
.idea
.vscode
.pytest_cache
__pycache__
*.cmi
*.cmx
*.o
target
Cargo.lock
_build

*.class
*.jar

*.img
*.bin

.DS_Store

.metals/
.bloop/
project/**/metals.sbt

*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
